<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<Configuration status="WARN">
  <Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.apache.wicket" level="INFO" additivity="false">
      <AppenderRef ref="CONSOLE" />
    </Logger>
    <Logger name="org.apache.wicket.core.util.resource.locator.ResourceStreamLocator"
      level="INFO" additivity="false">
      <AppenderRef ref="CONSOLE" />
    </Logger>
    <Root level="INFO">
      <AppenderRef ref="CONSOLE" />
    </Root>
  </Loggers>
</Configuration>
